@import "common/common";

:root {
	--max-width: 600px;
	--nav-height: 120px;
	--footer-height: 60px;

	--white: #fff;
	--black: #212121;
	--gray: #f7f7f7;
	--blue: #6493eb;
	--border-gray: #e0e0e0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

body {
	@include font-reg;
	@include font-size(16);
	background-color: $white;
}

h1 {
	@include font-bold;
	@include font-size(20);
	margin: 0 0 20px 0;
}

a {
	color: $black;
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: text-decoration-color 0.3s ease;

	&:hover {
		text-decoration-color: inherit;
	}
}

.wrapper {
	width: calc(100% - 60px);
	max-width: 600px;
	min-height: calc(100vh - 60px);
	margin: 15px auto;
	padding: 15px;
	background-color: $background-gray;
	border-radius: 10px;

	@include tablet {
		width: calc(100% - 60px);
	}

	@include laptop {
		min-height: auto;
	}
}

.btn {
	@include button-reset;
	@include font-size(16);
	padding: 5px 15px;
	border: 2px solid;
	border-radius: 5px;
	transition: color 0.3s ease, background-color 0.3s ease,
		border-color 0.3s ease;

	&--white {
		background-color: $white;
		border-color: $white;

		&:hover {
			border-color: $border-gray;
		}
	}

	&--gray {
		color: $white;
		border-color: $medium-gray;
		background-color: $medium-gray;

		&:hover {
			color: $black;
			background-color: $white;
			border-color: $border-gray;
		}
	}

	&--black {
		color: $white;
		background-color: $black;
		border-color: $white;

		&:hover {
			border-color: $white;
		}
	}
}

// form
form {
	margin: 0 0 40px 0;
}

fieldset {
	margin: 0 0 20px 0;
	padding: 0;
	border: 0;
}

label {
	@include font-size(16);
	margin: 0 0 5px 0;
}

input {
	display: block;
	width: 100%;
	height: 35px;
	@include font-size(16);
	padding: 0 5px;
	border: 2px solid var(--border-gray);
	border-radius: 10px;

	&::placeholder {
		@include font-size(14);
	}
}

// accessibility
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

// type colors
$types: ("rock", $rock), ("ghost", $ghost), ("steel", $steel), ("water", $water),
	("grass", $grass), ("psychic", $psychic), ("ice", $ice), ("dark", $dark),
	("fairy", $fairy), ("normal", $normal), ("fighting", $fighting),
	("flying", $flying), ("poison", $poison), ("ground", $ground), ("bug", $bug),
	("fire", $fire), ("electric", $electric), ("dragon", $dragon);

// type text
@each $type in $types {
	.#{nth($type,1)}-text {
		color: nth($type, 2);
	}
}

// type background
@each $type in $types {
	.#{nth($type,1)}-bg {
		background-color: nth($type, 2);
	}
}

// type border
@each $type in $types {
	.#{nth($type,1)}-border {
		border-color: nth($type, 2);
	}
}
