.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	//height: var(--nav-height);
	background-color: white;

	&__title {
		display: block;
		font-size: 24px;
		font-weight: bold;
		margin: 20px 0;
	}
}
