@import "common/common";

.search {
	&__cards {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px 20px -10px;
	}

	.showmore {
		@include button-reset;
		@include font-size(16);
		padding: 5px 15px;
		background-color: $white;
		border: 1px solid $white;
		border-radius: 5px;
		transition: border-color 0.3s ease;

		&:hover {
			border: 1px solid $black;
		}
	}
}
